<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form" method="POST" action="getParseStopWord">
    <label for="stop">Введите стоп слово</label>
    <textarea  name="stopWord" id="stop">huy </textarea>
    <input type="text" id="text" name="text" value="textValue">
    <button type="submit">Ввод</button>
</form>
<form name="fileForm" method="POST" action="/upload" enctype="multipart/form-data">
    <label for="textFile">Введите стоп слово</label>
    <input type="file" name="textFile" id="textFile">
    <input type="text" name="text" id="text2" value="fileValue">
    <button type="submit">Ввод</button>
</form>


<button type="button" th:onclick="showAlert()">Show Alert</button>


<h2>Carefully Styled Heading</h2>
<p>
    This is text on which we want to apply <strong>very special</strong> styling.
</p>
<img src="/img/aa.png">
<script src="/js/actions.js"></script>
</body>
</html>